.footer{ 
    color: #F1F8E9; 
    background-color: #4A6A4A;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 10px;  
    margin-top: 70px; 
    
    

} 
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 80px;
} 
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
} 
.footer-content-left li, .footer-content-right li, .footer-content-center li{
   list-style: none;
   margin-bottom: 10px; 
   cursor: pointer;
} 
.footer-content-right h2, .footer-content-center h2{
    color: white;
} 
.footer-social-icons img{
    width: 40px;
    margin-right: 20px;   
    cursor: pointer;
    
}  
.footer-content-right, .footer-content-center{
    margin-top: 60px;
}
.footer hr{
    width: 100%;
    margin: 10px 0px;  
    border: 3px solid #e4e9df;
    
} 
.logo{
    padding-top: 0.1px;
} 
@media (max-width:750px){ 
    
    .footer-content{ 
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        gap: 35px;

    }  
    .footer-content-left .logo{
        margin-left: -20px;
    } 
    .footer-content-left p{
        margin-top: -50px; 
        font-size: 15px; 

    } 
    .footer-content-center { 
        margin-top: 20px;  
        font-size: 15px;
        /* font-size: small; */
   } 
   .footer-content-right{
      margin-top: 8px; 
      font-size: 15px;
   }
    .footer-coopyright{
        text-align: center; 
        font-size: 10px;
    } 
    .footer-content li{
        margin-left: -30px;
    }
}  

